fastapi
pydantic>=2.0
python-multipart
SQLAlchemy
google-auth-oauthlib
yandexid-new
bcrypt
aiohttp
granian
pymysql
PyJWT
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-aiohttp-client
